<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv=Content-Type content="text/html;charset=utf-8">
  <title>Ortwin Oberhauser — SEO SEM SMM Magazine</title>
  <link rel=stylesheet href=style.css>
  <link rel=stylesheet href=http://colorpowered.com/colorbox/core/example3/colorbox.css>
  <link rel="shortcut icon" href=favicon.ico>
  <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js></script>
  <script src=http://colorpowered.com/colorbox/core/colorbox/jquery.colorbox.js></script>
  <script>$(document).ready(function(){$("a[rel='cbox']").colorbox();});</script>
</head>
<body>
  <div id=w>
    <div id=h class=cl>
      <a id=l href=/ title="Back to home.">Ortwin Oberhauser</a>
      <div id=n class=cl>
        <menu id=m>
          <li id=hm><a href=#>Home</a></li>
          <li id=se><a class=active href=#1>Search Engine</a></li>
          <li id=sm><a href=#2>Social Media</a></li>
          <li id=cs><a href=#3>Consulting</a></li>
          <li id=au><a href=#4>About</a></li>
        </menu>
      </div>
      <div id=r>
        <a id=rss href=#>Subscribe to our RSS feed.</a>
        <p>November<br>15th 2010</p>
      </div>
    </div>
    <div id=c class=cl>
      <div id=p class=cl>
        <fieldset id=social>
          <legend>Sharing is caring</legend>
          <ul>
            <li><a href=#>Twitter</a></li>
          </ul>
        </fieldset>
        <h1>Google’s SEO Starter Guide e-book</h1>
        <p>The Googlebot is crawling content on the Internet for Google’s index every day, every night, non stop.</p>
        <p>The Google Seach Engine Optimization Starter Guide explains various points on search engine optimization (SEO)!</p>
        <p>This SEO Guide first began as an effort to help teams within Google, but than Google thought it’d be just as useful to webmasters that are new to the topic of search engine optimization and wish to improve their sites interaction with both users and search engines. Although this guide won’t tell you any secrets that’ll automatically rank your site first for queries in Google (sorry!), following the best practices outlined below will make it easier for search engines to crawl, index and understand your content.</p>
      </div>
      <div id=s class=cl>
        <form id=ss class=sans action=/ method=get>
          <label for=ssearch>Search</label>
          <input id=ssearch name=s type=text>
        </form>
      </div>
    </div>
    <div id=prevnew class=cl>
      <p class=fl><a id=prev href=#21>Previous Page<span class=sans>View older posts</span></a></p>
      <p class=fr><a id=next href=#22>Next Page<span class=sans>View newer posts</span></a></p>
    </div>
  </div>
  <div id=c-visual></div>
  <div id=f class=sans>
    <div id=fi class=cl>
      <form id=fs class=fr action=/ method=get>
        <label for=fsearch>Search</label>
        <input id=fsearch name=s type=text>    
      </form>
      <p id=fi1><a href=#2>Search Engine</a> <a href=#3>Social Media</a> <a href=#4>Consulting</a> <a href=#5>About</a></p>
      <p id=fi2><a href=#1>Ortwin Oberhauser</a></p>
      <p id=fi3>© 2010 Ortwin Oberhauser <a href=#23>Contact</a> <a href=#24>Facebook</a> <a href=#25>Press</a> <a href=#26>Twitter</a> <a class=red href=#27>Subscribe</a></p>
    </div>
  </div>