<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv=Content-Type content="text/html;charset=utf-8">
	<title>Ortwin Oberhauser — SEO SEM SMM Magazine</title>
    <link rel=stylesheet href=style.css>
    <link rel=stylesheet href=http://colorpowered.com/colorbox/core/example3/colorbox.css>
    <link rel="shortcut icon" href=favicon.ico>
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js></script>
    <script src=http://colorpowered.com/colorbox/core/colorbox/jquery.colorbox.js></script>
    <script>$(document).ready(function(){$("a[rel='cbox']").colorbox();});</script>
</head>
<body>
	<div id=w>
    	<div id=h class=cl>
        	<h1 id=l>Ortwin Oberhauser</h1>
            <div id=n class=cl>
            	<menu id=m>
                	<li id=hm><a class=active href=#>Home</a></li>
                    <li id=se><a href=#1>Search Engine</a></li>
                    <li id=sm><a href=#2>Social Media</a></li>
                    <li id=cs><a href=#3>Consulting</a></li>
                    <li id=au><a href=#4>About</a></li>
                </menu>
            </div>
            <div id=r>
            	<a id=rss href=#>Subscribe to our RSS feed.</a>
                <p>November<br>15th 2010</p>
            </div>
        </div>
        <div id=c class=cl>
            <div id=s class=cl>
                <form id=ss class=sans action=/ method=get>
                    <label for=ssearch>Search</label>
                    <input id=ssearch name=s type=text>    
                </form>
            	<div>
                	<h3>Whoami</h3>
                    <p>My name is — you guessed it — <strong>Ortwin Oberhauser</strong> and this is my corporate and personal blog where I share my opinions on <abbr title="Search engine optimization">SEO</abbr>, <abbr title="Social media marketing">SMM</abbr> and many other topics.</p><p>You also have the possibility to have a look at my <a href=#3>recent works in those remits</a>. You can even <a href=#3>hire me</a> to help you and your web projects to become more succefull.</p>
                </div>
            	<div class=ad>
                	<a href=#5><img src=seokomm.jpg alt="Anzeige" width=300 height=300></a>
                </div>
            	<div>
                	<h3>Whoami</h3>
                    <p>Lorem ipsum dolor …</p>
                </div>
                <div class=ad>
                	<a href=#6><img src="http://www.xovi.de/pp/accounts/default1/banners/bb_xovi_300x250_animiert-1.gif" alt=Anzeige width=300 height=250></a>
                </div>
            </div>
        	<div id=p class=cl>
        		<div id=firstpost class="post cl search-engines">
                	<div class=fl>
                        <h2><a href=googles-seo-tarter-guide-e-book.html>Google’s SEO Starter Guide e-book</a></h2>
                        <p>The Googlebot is crawling content on the Internet for Google’s index every day, every night, non stop.</p>
                        <p>The Google Search Engine Optimization Starter Guide explains various points on <abbr title="Search engine optimization">SEO</abbr>!</p>
                        <a class="rm sans" href=googles-seo-starter-guide-e-book.html>Continue reading&nbsp;</a>
                    </div>
                    <div class=fr><a rel=cbox href=featured.jpg><img src=featured-thumb.jpg alt="First page of the SEO Starter Guide e-book" width=220 height=220></a></div>
            	</div>
                <div id=p2>
                	<div class="post cl search-engines">
                    	<h2><a href=#8>Google New</a></h2>
                        <p><a href=http://www.google.com/>Google New</a> — the one place to find everything new from Google — introducing the one place to find the newest product and features from Google.</p>
                        <a class="rm sans" href=#8>Continue reading&nbsp;</a>
                    </div>
                    <div class="post cl social-media">
                    	<div class=fr><a rel=cbox href=twitter-shoe.jpg><img src=twitter-shoe-thumb.jpg alt="Nikes Twitter shoe" width=150 height=96></a></div>
                    	<h2><a href=#9>Twitter Nikes — shoes for Tweeters</a></h2>
                        <p>Now I don’t know which shoes I like more the Twitter shoes for Tweeters or the Goolge shoes for SEOs … maybe I could wear them alternately …</p>
                        <a class="rm sans" href=#9>Continue reading&nbsp;</a>
                    </div>
                    <div class="post cl search-engines">
                    	<h2><a href=#10>Google Instant — What’s that?</a></h2>
                        <p>Google Instant is a new search enhancement that shows results as you type. Google Instant can save 2-5 seconds per search! Let's calculate, if we search 10 times a day …</p>
                        <a class="rm sans" href=#10>Continue reading&nbsp;</a>
                    </div>
                </div>
                <div id=s2>
                	<div id=social class=c>
                    	<h3>Get in touch …</h3>
                        <p><a id=stwitter href=#11>Follow me on Twitter.</a></p>
                        <p><a id=sfacebook href=#12>Find me on Facebook.</a></p>
                        <p><a id=slinkedin href=#13>Find me on LinkedIn.</a></p>
                        <p><a id=srss href=#14>Subscribe to my RSS feed.</a></p>
                	</div>
                    <div id=cats>
                    	<h3>Explore by tag</h3>
                        <ul>
                            <li><a href=#15>Facebook</a></li>
                            <li><a href=#16>Google</a></li>
                            <li><a href=#17>Performance</a></li>
                        	<li><a href=#18>Search Engine Optimization</a></li>
                            <li><a href=#19>Social Media Marketing</a></li>
                            <li><a href=#20>Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id=prevnew class=cl>
        	<p class=fl><a id=prev href=#21>Previous Page<span class=sans>View older posts</span></a></p>
            <p class=fr><a id=next href=#22>Next Page<span class=sans>View newer posts</span></a></p>
        </div>
    </div>
    <div id=c-visual></div>
    <div id=f class=sans>
        <div id=fi class=cl>
            <form id=fs class=fr action=/ method=get>
                <label for=fsearch>Search</label>
                <input id=fsearch name=s type=text>    
            </form>
            <p id=fi1><a href=#2>Search Engine</a> <a href=#3>Social Media</a> <a href=#4>Consulting</a> <a href=#5>About</a></p>
            <p id=fi2><a href=#1>Ortwin Oberhauser</a></p>
            <p id=fi3>© 2010 Ortwin Oberhauser <a href=#23>Contact</a> <a href=#24>Facebook</a> <a href=#25>Press</a> <a href=#26>Twitter</a> <a class=red href=#27>Subscribe</a></p>
        </div>
    </div>